[submodule "metaverse_tools/ext/apply_modifier_for_object_with_shapekeys"]
	path = metaverse_tools/ext/apply_modifier_for_object_with_shapekeys
	url = https://github.com/przemir/ApplyModifierForObjectWithShapeKeys
